<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Data</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="container">
        <h2>Get Data</h2>
        <form id="dataForm">
            <div class="input-field">
                <input type="text" id="date" name="date" required>
                <label for="date">Date (YYYYMMDD)</label>
            </div>
            <div class="input-field">
                <input type="text" id="ticker" name="ticker" required>
                <label for="ticker">Ticker Name</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit" onclick="fetchClientData()" >Get Data</button>
        </form>
        <table class="highlight">
            <thead>
                <tr>
                    <th>Client Name</th>
                    <th>Ticker Name</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody id="dataTable">
            </tbody>
        </table>
    </div>
    <script>
         function fetchClientData() {
            const date = document.getElementById('date').value;
            const ticker = document.getElementById('ticker').value;
            fetch(`/api/ftp/get-client-data?date=${date}&ticker=${ticker}`)
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById('data-table').getElementsByTagName('tbody')[0];
                    tableBody.innerHTML = '';
                    data.forEach(row => {
                        const newRow = tableBody.insertRow();
                        newRow.innerHTML = `
                            <td class="action-buttons">
                                <button class="mdc-button mdc-button--outlined" onclick="downloadFile('Opening', '${row.indexTicker}', '${date}')">Opening</button>
                                <button class="mdc-button mdc-button--outlined" onclick="downloadFile('Closing', '${row.indexTicker}', '${date}')">Closing</button>
                            </td>
                            <td>${row.clientName}</td>
                            <td>${row.indexTicker}</td>
                            <td>${row.indexName}</td>
                        `;
                    });
                });
        }  
    
    </script>
</body>
</html>
